include layouts/mainLayout

.container
    .row
        .col-md-8.offset-md-2.border.border-dark.p-3
            span(style='font-size: 2rem')  Under Construction
            br
            br
            p This pag is under construction. More will be added soon.