include layouts/mainLayout

.container
    .row
        .col-md-8.offset-md-2.border.border-dark.p-3
            span(style='font-size: 2rem')  Page Not Found!
            br
            br
            p Sorry this page is not found. Please click the home button above.